In [2]:
from sklearn import tree
import pandas as pd
from sklearn.cross_validation import KFold
import sklearn as sk
import numpy as np
import datetime as dt

train_file = 'occupancy_data/datatraining.txt'
test_file = 'occupancy_data/datatest.txt'

df = pd.read_table(train_file, delimiter = ',')
test_df = pd.read_csv(test_file, delimiter = ',')

# df['date'] = df['date'].map(pd.to_datetime)
# start = df.iloc[0,0]
# df['date'] = df['date'].apply(lambda x: x.microsecond)

In [3]:
test_df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
140,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
141,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1
142,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
143,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
144,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [4]:
X_train = df.iloc[:,1:6]
X_test = test_df.iloc[:,1:6]
X_train.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
1        23.18   27.2720  426.0  721.25       0.004793
2        23.15   27.2675  429.5  714.00       0.004783
3        23.15   27.2450  426.0  713.50       0.004779
4        23.15   27.2000  426.0  708.25       0.004772
5        23.10   27.2000  426.0  704.50       0.004757

In [5]:
X_test.head()

     Temperature  Humidity       Light         CO2  HumidityRatio
140      23.7000    26.272  585.200000  749.200000       0.004764
141      23.7180    26.290  578.400000  760.400000       0.004773
142      23.7300    26.230  572.666667  769.666667       0.004765
143      23.7225    26.125  493.750000  774.750000       0.004744
144      23.7540    26.200  488.600000  779.000000       0.004767

In [6]:
Y_train = df.iloc[:,6:7]
Y_test = test_df.iloc[:,6:7]

In [7]:
Y_train.head()

   Occupancy
1          1
2          1
3          1
4          1
5          1

In [8]:
Y_test.head()

     Occupancy
140          1
141          1
142          1
143          1
144          1

In [9]:
depth_list = range(1,20)
MSE_list = []
kf = KFold(len(Y_train), n_folds=10, shuffle = True, random_state  = 0)

In [10]:
for depth in depth_list:
    
    MSE_depth_CV =[]
    
    for train_index, test_index in kf:
        X_train_CV, X_test_CV = X_train.iloc[train_index,:], X_train.iloc[test_index,:]
        Y_train_CV, Y_test_CV = Y_train.iloc[train_index,:], Y_train.iloc[test_index,:]
        clf = tree.DecisionTreeClassifier(max_depth = depth) 
        clf.fit(X_train_CV, Y_train_CV) 
        predicted_y = clf.predict(X_test_CV)
        MSE = sk.metrics.accuracy_score(Y_test_CV, predicted_y)
        MSE_depth_CV.append(MSE)
    
    print depth, "k-fold CV is", 1 - np.mean(MSE_depth_CV)

1 k-fold CV is 0.0124030388448
2 k-fold CV is 0.0117892404395
3 k-fold CV is 0.0114203885983
4 k-fold CV is 0.0104377383518
5 k-fold CV is 0.00687659215267
6 k-fold CV is 0.00687659215267
7 k-fold CV is 0.00712214166202
8 k-fold CV is 0.00699929153917
9 k-fold CV is 0.00712214166202
10 k-fold CV is 0.00810494264482
11 k-fold CV is 0.00761384362611
12 k-fold CV is 0.00798209252197
13 k-fold CV is 0.00810524411751
14 k-fold CV is 0.00810494264482
15 k-fold CV is 0.00785954387181
16 k-fold CV is 0.00847364374972
17 k-fold CV is 0.00785939313547
18 k-fold CV is 0.00773654301262
19 k-fold CV is 0.00798224325832

In [11]:
X_train_CV.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
2        23.15   27.2675  429.5  714.00       0.004783
3        23.15   27.2450  426.0  713.50       0.004779
4        23.15   27.2000  426.0  708.25       0.004772
5        23.10   27.2000  426.0  704.50       0.004757
6        23.10   27.2000  419.0  701.00       0.004757